<div class="container">
  <div class="form-group">
    <%= simple_form_for @skill do |f| %>
      <%= f.input :name, placeholder: "Programming" %>
      <%= f.input :parent, collection: @parents %>
      <%= f.submit class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
